body {
    font-family: 'Roboto', serif;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

/*MENU*/
.bg-white {
    background-color: #652973 !important;
}

.navbar-toggler {
    padding: 3px 5px;
}

.navbar h3 {
    color: #fff;
    font-weight: 700;
}

.navbar h3 sub {
    padding: 3px 0;
    font-size: 18px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #ff9600;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    display: inline-block;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 50% 50% -0.6em;
    position: relative;
    transition: transform 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff9600;
    transform: rotateX(90deg);
}

.navbar-light .navbar-nav .nav-link:before {
    content: attr(data-hover);
    color: #fff;
    background: linear-gradient(#ff793f, #cd6133);
    padding: 3px;
    border-radius: 5px 0 5px;
    transform-origin: 50% 0;
    transform: rotateX(-90deg);
    position: absolute;
    top: 100%;
    left: 0;
}

@media only screen and (max-width: 767px) {
    .navbar-light .navbar-nav .nav-link {
        margin: 0 0 30px;
    }
}

/*Feature*/

.violetbg1 {
    background: #841C94;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    width: 30%;
}

.violetbg2 {
    background: #652973;
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    width: 40%;
}

.violetbg3 {
    background: #841C94;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    width: 30%;
}

@media only screen and (max-width: 360px) {
    #blogs td {
        display: block;
        width: 100%;
    }

    .violetbg1,
    .violetbg2,
    .violetbg3,
    #giftcont {
        font-size: 18px !important;
    }

    .violetbg2 {
        background: #841C94;
    }
}

/*slider*/


/* .caption h1 {
     position: absolute;
    font-size: 1.5em; 
    top: 20px;
    left: 15px;
    color: orange;
    text-shadow: 2px 2px 1px #000;
    padding-top: 20px;
    }
*/
.main-content .caption p {
    position: absolute;
    font-size: 12px;
    padding: 0 3px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 77, 123);
    border-color: rgb(255, 255, 255);
    bottom: -15px;
    right: 0px;
}

@media only screen and (max-width: 360px) {
    .main-content .caption p {
        font-size: 10px;
    }
}

/*Common*/
.main-features,
.demo-fees-collection,
.fees-collection-pricing,
.contact-section {
    padding: 20px 0;
}

/**/
#giftcont {
    color: #424040;
    font-size: 22px;
    text-align: center;
    margin: 16px;
}

.features {
    color: #841c94;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.icoimg {
    border-right: 2px solid #e74d7b;
    padding: 20px 10px;
}

.features p {
    padding-top: 10px;
}

.icoimg:hover,
.icoimg:focus {
    background: url(../images/shadow.png) no-repeat scroll center 62% rgba(0, 0, 0, 0);
}

.icoimg img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.icoimg:hover img,
.icoimg:focus img {
    -webkit-transform: translate(0px, -15px);
    -moz-transform: translate(0px, -15px);
    -ms-transform: translate(0px, -15px);
    -o-transform: translate(0px, -15px);
    transform: translate(0px, -15px);
}

@media only screen and (max-width: 768px) {
    .features .icoimg {
        display: block;
        border-right: none;
        text-align: center;
        width: 100%;
    }
}

/**********************************************/
.main-head .cont {
    text-align: justify;
}

.main-content .h_subhead,
.map-slider .h_subhead {
    color: #e74d7b;
    margin: inherit;
    font-size: 24px;
}

.main-content .version {
    background: #FFFFFF;
    margin: 10px 20px;
    border: #CCCCCC solid 1px;
    box-shadow: 0 0 2px 2px #CCCCCC;
    -webkit-box-shadow: 0 0 2px 2px #CCCCCC;
    -moz-box-shadow: 0 0 2px 2px #CCCCCC;
    -0-box-shadow: 0 0 2px 2px #CCCCCC;
    text-align: center;
    box-sizing: border-box;
}

.main-content .compimg {
    margin: 0 auto;
    padding: 10px;
}

.blogcont h2 {
    color: #652973;
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.blogcont h3 {
    color: #e74d7b;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.blogcont p {
    color: #424040;
    text-align: center;
    margin: 5px;
}

.btn-primary {
    padding: 3px 15px;
    color: #fff;
    background-color: #622874;
    border-radius: initial;
    border-color: transparent;
    margin: 10px;
}

.btn-primary:hover,
.btn-primary:active {
    color: #fff;
    background-color: #e74d7b;
    border-color: transparent;
}

/*FOOTER*/
#footerbg {
    background: #622874;
    width: 100%;
    height: auto;
}

#footerbg h3 {
    font-size: 24px;
    color: #FFFFFF;
    padding: 9px 0px 0px;
    margin: initial;

}

.menu-quick-links li a {
    color: #ecadfd;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: none;
}

.menu-quick-links ul li :before {
    font-family: "FontAwesome";
    content: "\f0ac";
    display: inline-block;
    vertical-align: middle;
    padding: 1px 5px 3px 0px;
    color: #fff;
    font-size: 17px;
}

.ftphone {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: none repeat scroll 0 0 #E74D7B;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    line-height: 1.8;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

#copyright {
    background-color: #4b095a;
    cursor: pointer;
    padding: 9px 0 0;
    margin: initial;
    width: 100%;
}

#copyright p,
#copyright a {
    color: #fff;
    margin: 5px 0;
}

/*END FOOTER*/

/*FEATURES PAGE*/
.main-features .media {
    padding: 5px 0;
}

/*DEMO PAGE*/
.demo-fees-collection .form-control,
.fees-collection-pricing .personal-details .form-control,
.contact-section .contact-form .form-control {
    border-radius: 1px;
}

.demo-fees-collection .form-control:focus,
.fees-collection-pricing .personal-details .form-control:focus,
.contact-section .contact-form .form-control:focus {
    border-color: #622874;
    box-shadow: none;
}

/*PRICING*/
.fees-collection-pricing .form-check {
    padding: 8px 15px;
}

/*CONTACT*/
.contact-section h5 {
    font-size: 16px;
    color: #e74d7b;
    font-weight: 600;
    font-style: italic;
}

.contact-section .contact-form h5 {
    font-size: 20px;
    color: #622874;
    margin: 10px;
    text-align: center;
    font-style: initial;
}